
*
    box-sizing: border-box
    padding: 0
    margin: 0

// body
//     height: 100vh
//     display: flex
//     justify-content: center
//     align-items: center
//     background-color: #fafafa    


// Text Fading Menu Hover Effect    
// section
//     position: relative
//     width: 100%
//     height: 100vh
//     display: flex
//     justify-content: center
//     align-items: center
//     background-color: #222

// li
//     display: flex
//     flex-direction: column
//     gap: 10px
//     list-style: none
//     &:hover 
//         a:before
//             opacity: 1
//             letter-spacing: 5px     

// a
//     position: relative
//     display: block
//     text-decoration: none
//     font-size: 4em
//     font-weight: 900
//     text-transform: uppercase
//     color: #fff 
//     text-align: center
//     transition: 0.5s
//     &:hover
//         color: rgba(255, 255, 255, 0.1)
//     &:before
//         content: attr(data-text)
//         position: absolute
//         top: 50%
//         left: 50%
//         transform: translate(-50%, -50%)
//         color: #3bffa7
//         font-size: 0.35em
//         letter-spacing: 40px
//         text-shadow: 0 0 10px #3bffa7, 0 0 30px #3bffa7, 0 0 50px #3bffa7, 0 0 80px #3bffa7
//         font-weight: 500
//         transition: 0.5s
//         opacity: 0


// Growing Borders Menu Effect    
// ul
//     padding: 0
//     margin: 0
//     li
//         list-style: none
//         display: flex
//         a
//             text-decoration: none
//             color: #3d3d3d
//             font-size: 30px
//             display: block
//             padding: 10px
//             position: relative
//             &:before
//                 content: ''
//                 position: absolute
//                 top: 0
//                 left: 0
//                 width: 100%
//                 height: 100%
//                 height: 2px
//                 background-color: #000
//                 transform: scaleX(0)
//                 transform-origin: left
//                 transition: all 1s
//             &:after
//                 content: ''
//                 position: absolute
//                 bottom: 0
//                 left: 0
//                 width: 100%
//                 height: 100%
//                 height: 2px
//                 background-color: #000
//                 transform: scaleX(0)
//                 transform-origin: right
//                 transition: all 1s    
//             &:hover:before
//                 transform: scaleX(1)
//             &:hover:after
//                 transform: scaleX(1)    


// Splitted Background Menu Effect
// ul
//     display: flex
//     list-style-type: none
//     li
//         a
//             display: block
//             text-decoration: none
//             width: 120px
//             height: 40px
//             line-height: 40px
//             text-align: center
//             text-transform: capitalize
//             position: relative
//             transition: all 0.6s
//             margin: 0 10px
//             color: #000
//             &:hover
//                 color: #fff
//             &:hover span
//                 transform: scaleY(1)
//             span
//                 position: absolute
//                 left: 0
//                 top: 0
//                 width: 25%
//                 height: 100%
//                 background-color: #000
//                 z-index: -1
//                 transform: scaleY(0)
//                 transition: all 0.5s
//                 transform-origin: top
//                 &:nth-child(2)
//                     left: 25%
//                     transition-delay: 0.1s
//                 &:nth-child(3)
//                     left: 50%
//                     transition-delay: 0.15s
//                 &:nth-child(4)
//                     left: 75%
//                     transition-delay: 0.2s
                

// Blurry Menu Effect
// body
//     height: 100vh
//     display: flex
//     justify-content: center
//     align-items: center
//     background-color: #4e4474          

// ul
//     display: flex
//     li
//         list-style: none
//         margin: 0 20px
//         transition: 0.6s
//         a
//             display: block  
//             position: relative      
//             text-decoration: none 
//             text-transform: capitalize   
//             color: #fff
//             font-size: 30px
//             transition: all 0.6s
//             &:hover
//                 transform: scale(2)   
//                 padding: 5px 10px
//                 filter: blur(0px)
//             &:hover:before
//                 transform: scale(1)   
//             &::before
//                 content: ''
//                 position: absolute
//                 top: 0
//                 left: 0
//                 width: 100%
//                 height: 100%
//                 background-color: #6a3f86 
//                 z-index: -1
//                 transform: scale(0)  
//                 border-radius: 10px
//     &:hover a
//         filter: blur(10px)

                         
// Sniper Menu Effect
// body
//     height: 100vh
//     display: flex
//     justify-content: center
//     align-items: center
//     background-color: #313131     

// ul
//     display: flex
//     li
//         list-style: none
//         padding: 10px 30px
//         a
//             text-decoration: none    
//             color: #adadad
//             text-transform: capitalize    
//             font-size: 30px 
//             position: relative
//             padding: 5px
//             &:hover
//                 color: #c7c7c7
//             span
//                 &:nth-child(1)::before
//                     content: ''
//                     position: absolute
//                     top: 0
//                     left: 0
//                     width: 9px
//                     height: 9px
//                     border-top: 2px solid #ff0
//                     border-left: 2px solid #ff0
//                     transition: 0.3s
//                     opacity: 0
//                 &:nth-child(2)::before
//                     content: ''
//                     position: absolute
//                     top: 0
//                     right: 0
//                     width: 9px
//                     height: 9px
//                     border-top: 2px solid #ff0
//                     border-right: 2px solid #ff0
//                     transition: 0.3s
//                     opacity: 0
//                 &:nth-child(3)::before
//                     content: ''
//                     position: absolute
//                     bottom: 0
//                     left: 0
//                     width: 9px
//                     height: 9px
//                     border-bottom: 2px solid #ff0
//                     border-left: 2px solid #ff0
//                     transition: 0.3s
//                     opacity: 0
//                 &:nth-child(4)::before
//                     content: ''
//                     position: absolute
//                     bottom: 0
//                     right: 0
//                     width: 9px
//                     height: 9px
//                     border-bottom: 2px solid #ff0
//                     border-right: 2px solid #ff0
//                     transition: 0.3s
//                     opacity: 0
//             &:hover span:nth-child(1)::before
//                 top: -10px
//                 left: -10px
//                 opacity: 1
//             &:hover span:nth-child(2)::before
//                 top: -10px
//                 right: -10px
//                 opacity: 1
//             &:hover span:nth-child(3)::before
//                 bottom: -10px
//                 left: -10px
//                 opacity: 1
//             &:hover span:nth-child(4)::before
//                 bottom: -10px
//                 right: -10px
//                 opacity: 1
            
                
// Colorful Layer Effect
// body
//     height: 100vh
//     display: flex
//     justify-content: center
//     align-items: center
//     background-color: #313131     
                    
// ul
//     li
//         list-style: none
//         a
//             display: block
//             position: relative
//             color: transparent
//             -webkit-text-stroke: 1px #fff
//             font-size: 90px
//             font-weight: 900
//             text-decoration: none
//             &::before, &::after
//                 content: attr(data-text)
//                 position: absolute
//                 top: 0
//                 left: 0
//                 transition: 0.6s
//             &:hover::before
//                 color: rgb(121, 40, 158)
//                 z-index: 1
//                 -webkit-text-stroke: 1px #000
//                 transform: translate(10px, -10px)
//             &:hover::after
//                 color: rgb(52, 43, 179)
//                 z-index: 2
//                 -webkit-text-stroke: 1px #000
//                 transform: translate(20px, -20px)

                
// Cursor Animation Hover Effect
// body
//     height: 100vh
//     display: flex
//     justify-content: center
//     align-items: center
//     background-color: #252839    
//     font-family: "Poppins", sans-serif                

// ul
//     position: relative
//     display: flex
//     flex-direction: column
//     gap: 30px
//     li
//         list-style: none
//         position: relative
//         a
//             text-decoration: none
//             font-size: 4em
//             font-weight: 900
//             text-transform: uppercase
//             position: relative
//             letter-spacing: 2px
//             color: transparent
//             -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6)
//             &::before
//                 content: attr(data-text)
//                 position: absolute
//                 color: #2d52a3
//                 border-right: 9px solid #2d52a3 
//                 -webkit-text-stroke: 1px #2d52a3
//                 width: 0%
//                 overflow: hidden
//                 transition: 1s
//             &:hover::before
//                 width: 100%
                
                    
// Background Color Menu Hover Effect
body
    height: 100vh
    display: flex
    justify-content: center
    align-items: center    
    font-family: "Poppins", sans-serif       
    overflow: hidden
    
ul
    &:hover a
        color: #0003
    li
        list-style: none  
        a
            text-decoration: none
            text-transform: uppercase
            color: #666   
            font-size: 4em     
            font-weight: 900
            display: inline-flex    
            transition: 0.6s 
            &:hover
                color: #000
            &:hover::before
                opacity: 1
                letter-spacing: 10px
            &::before
                content: attr(data-text)
                position: absolute
                color: rgba(0, 0, 0, 0.1)
                letter-spacing: 100px
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                display: flex
                justify-content: center
                align-items: center    
                font-size: 3em
                font-weight: 900
                text-transform: uppercase
                z-index: -1
                opacity: 0
                transition: letter-spacing 0.6s
                width: 100vw
                height: 100vh
        &:nth-child(1) a:before
            background-color: #81ecec
        &:nth-child(2) a:before
            background-color: #a29bfe
        &:nth-child(3) a:before
            background-color: #ff7675
        &:nth-child(4) a:before
            background-color: #fd79a9
        &:nth-child(5) a:before
            background-color: #55efc4
                    
    
                         
                                
